{% extends "credata/profiluser.html" %}
{% load staticfiles%}

{% block contentuser %}
	{% if user %}
		<table class="striped responsive-table ">
        <thead>
          <tr>
              <th data-field="id">N°</th>
              <th data-field="name">Date</th>
              <th data-field="price">Type opération</th>
              <th data-field="price">Produit</th>
              <th data-field="price">Num. Dest</th>
              <th data-field="price">Etat</th>
          </tr>
        </thead>

        <tbody>
          {% for num in len %}
            <tr>
              <td>{{num}}</td>
              <td>Eclair</td>
              <td>$0.87</td>
              <td>$0.87</td>
              <td>$0.87</td>
              <td>
              	<a class="btn-floating btn-small green"><i class="small material-icons">done</i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        
      </table>
    {% endif %}

{% endblock %}
